body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 17px;
  line-height: 1.6;
  color: #222;
  background-color: #fafafa;
  margin: 40px auto;
  max-width: 800px;
}

h1, h2 {
  color: #333;
  font-weight: normal;
}

a {
  color: #0033cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
}
